.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* navbar allows for the formatting of navbar */
.navbar-logo{
  color: white;
  font-size: 20px;
}

/* navbar menu such that the words will appear in a straight line*/
.navbar-menu{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

/* makes sure that the things inside the navbar are not shown to be hyperlinked */
.navbar-menu li a{
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
